@import "./css-reset.less";
@import "./variables.less";

body,
html {
    font-family: Helvetica;
    // background-color: @iphone-bg-grey;
    height: 100%;
    overflow:hidden;
    position: relative;
    font-size: 1rem;

    a {
        text-decoration: none !important; /// Figure out why you need !important
    }

    li {
        list-style-type: none;
    }
}
html{
    background: transparent;
}

// Header container
header {
    position: relative;
    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
        content: "";
        bottom: 0;
    }

    .header {
        width: 95%;;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;

        &.header-alert-none {
            padding-top: 2rem;
        }

        &.header-alert {
            padding-top: 0;
        }

        .contact {
            margin-left: auto;
        }

        .menu {
            margin-right: 1.5rem;
        }
    }
}

// Footer
footer:not(.footer-2) {
    background: url(~"/images/footer-bg.png") no-repeat top center;
    background-color: @iphone-bg-grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    .nav-footer {
        width: 95%;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;

        .icon {
            // Footer Icons
            .st1 {
                fill: @icon-not-selected;
            }

            &:hover,
            &:active {
                text-decoration: none;
                .st1 {
                    fill: @icon-fill;
                }
            }
        }
    }
}

// Message screen
.message-window {
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    // Search for contact
    .search {
        width: 85%;
        height: 2rem;
        position: absolute;
        top: 4.3rem;
        left: 2.5rem;
    }

    // New Message body
    .container-new-message {
        height: 100%;
        width: 100%;

        .input-new-message {
            position: absolute;
            bottom: 3.2rem;
            left: 1.2rem;
            z-index: 2;
            width: 90%;
            height: 2rem;
        }

        &.urgent{
            background-size: contain;
            height: 100%;
            width:100%;

            .input-new-message {
                left: 1.5rem;
            }

            .message-send {
                background-color: #F8F7F7;
                width: 3rem;
                height: 2.5rem;
                bottom: 0;
                position: absolute;
                right: 0;

                &.hide {
                    display: none;
                }
            }
        }
    }

    .priority-alert-type {

        .priority-button {
            display: block;
            width: 17rem;
            height: 2.5rem;
            position: absolute;
            bottom: 0;
            z-index: 2;
        }
    }
}


.message-chat {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

// Back to main menu button
.back-header {
    display: block;
    width: 20%;
    height: 4rem;
    color: transparent;
}

.modal-backdrop {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;

    .mark-important {
        position: absolute;
        width: 100%;
        height: 8rem;
        bottom: 0;
    }
}

/* Page */

.page {
    // background-color: @white;
    width: 100%;
    position: fixed;
    height: 100%;
    transition: transform 0s ease-out;
}

.page-enter {
    transform: translate(-100%, 0);
}

.page-enter-active {
    transform: translate(0, 0);
}

.page-exit {
    transform: translate(-100%, 0);
}

.page--prev.page-enter {
    transform: translate(100%, 0);
}

.page--prev.page-enter-active {
    transform: translate(0, 0);
}

.page--prev.page-exit {
    transform: translate(100%, 0);
}

.page-content {
    overflow-y: scroll;
    background: @white;
    position: fixed;
    width: 100%;
    max-height:70vh;
}

.page-title{
    position: absolute;
    z-index: 1;
    top: -2rem;
    text-align: center;
    left: 0;
    right: 0;
}

// Alert
.alert {
    padding: 2rem 0 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    background: @alert-red;
    color: @white;
    display: flex;
    justify-content: space-evenly;
}

.none {
    display: none;
}



//Camer-Modal styles
.camera-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.camera-modal-inner{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 265px;
    bottom:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.btn span{
    width: 28px;
    height: 23px;
    margin: 10px 10px 10px 20px;
}
.btn span.cm-btn-text{
    margin:7px 5px 5px 5px;
    width: 300px;
    display: inline-block;
}
.btn span.camera {
    float: left;
    svg{
        width: 22px;
    }
}
.btn span.video {
    float: left;
}
.btn span.library {
    float: left;
}
span.separator {
    border-top: 1px solid #DFDEDE;
    width: 90%;
    margin-left: 5%;
    height: 1px;
    display: block;
}
.camera-inner-gallery{
    height: 130px;
}
div div.rectangle8 {
    background: url(~"/images/Rectangle8.png") no-repeat;
    width: 59px;
    height: 119px;
    margin: 10px 10px 0px 10px;
    border-radius: 8px;
    float: left;
}
div div.rectangle9 {
    background: url(~"/images/Rectangle9.png") no-repeat;
    width: 89px;
    height: 119px;
    margin: 10px 10px 0px 0px;
    border-radius: 8px;
    float: left;
}
div div.rectangle10 {
    background: url(~"/images/Rectangle10.png") no-repeat;
    width: 89px;
    height: 119px;
    margin: 10px 10px 0px 00px;
    border-radius: 8px;
    float: left;
}
div div.rectangle11 {
    background: url(~"/images/Rectangle11.png") no-repeat;
    width: 89px;
    height: 119px;
    margin: 10px 0px 0px 0px;
    border-radius: 8px;
    float: left;
}

@import "./idt.less";
@import "./chat.less";
@import "./single-chat.less";
@import "./teams.less";
@import "./meetings.less";
@import "./camera-overlay.less";
