#cameraBackground {
    padding-top: calc(~"1rem +" ~'@{safe-area-inset-top}') 0 1rem 0;
    background-image: null;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvas-container {
    position: relative;
}

.canvas-div {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.camera-controls {
    position: fixed;
    height: 100%;
    width: 100%;
}

.hidden-canvas {
    display:none;
}

/// Header
.block1 {
    background: @black;
    padding-top: @safe-area-inset-top;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;

    .Close {
        background: center/contain no-repeat url(~"/images/close.png");
        width: 26px;
        height: 26px;
        margin-left: 1rem;
    }

    .ReverseAndPower {
        background: right/contain no-repeat url(~"/images/ReverseAndPowerCameraIcons.png");
        background-size: 80px 26px;
        margin-left: auto;
        margin-right: 1rem;
        width: 80px;
        height: 26px;
    }

    .AnnotationControls {
        background: right/contain no-repeat url(~"/images/right_annotation_icons.png");
        width: 165px;
        height: 26px;
        margin-left: auto;
        margin-right: 1rem;
    }
}

/// Footer
.block2 {
    background: @black;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: @safe-area-inset-bottom;
    border-radius: 0;
    height: 90px;

    .OvalTakePhoto {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: center/contain no-repeat url(~"/images/OvalTakePhoto.png");
        margin: auto;
        width: 63px;
        height: 63px;
    }

    .CameraIcon {
        background: center/contain no-repeat url(~"/images/camera_icon_annotation.png");
        background-size: 40px 35px;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 1rem;
    }

    .DoneIcon {
        background: @icon-fill;
        border-radius: 25px;
        color: @white;
        font-weight: 300;
        font-size: 14px;
        fill: @white;
        margin-left: auto;
        margin-right: 1rem;

        .doneSpan {
            position: relative;
            display: flex;
            align-items: center;
            width: 50px;

            svg {
                height: 1rem;
                position: absolute;
                top: 0;
                bottom: 0;
                margin-bottom: auto;
                margin-top: auto;
                right: 0;
            }
        }
    }
}

.camera-controls-text {
    display: none; /// Do we need this?
    color: white;
}

button {
    background: gray;
    color:#333;
    border-radius: 3px;
    width: 30%;
    height: 30%;
    background: url(~"/images/OvalTakePhoto.png") no-repeat;
}

/* camera modal */
.camera-color-modal {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
    padding-top: @safe-area-inset-top;
    top: 4.5rem;
}

.camera-color-modal-inner {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: auto;
}

.camera-color-modal-inner > .btn {
    width: 25px;
    margin-bottom: 1rem;
    height: 25px;
    border: 1px solid grey;
    border-radius: 50%;
    box-shadow: 0 0 0 1pt white;
    outline-width: 2px;
    outline-color: white;
}

.camera-color-modal-inner > .active {
    width: 17px;
    height: 17px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 3pt black;
    outline-width: 3px;
    outline-color: @black;
}

.RedSelector {
    background-color: #CF021A;
}

.GreenSelector {
    background-color: #0DAC37;
}

.BlueSelector {
    background-color: #1E5EFE;
}


.YellowSelector {
    background-color: #FFF600;
}

.WhiteSelector {
    background-color: @white;
}
.BlackSelector {
    background-color: @black;
}
