.app {
    height: calc(100% - 150px);
}

#cameraBackground {
    padding-top: calc(~"1rem +" ~'@{safe-area-inset-top}') 0 1rem 0;
    text-align: center;
    background-image: null;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

.canvas-container{
    position: relative;
}

.canvas-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 90px;
}
.camera-controls{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.hidden-canvas{
    display:none;
}

.block1{
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 90px;
}

.block2{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-radius: 0;
    height: 90px;
}

.blackBlock{
    background: black;
}
.blackBloc.block1{
    height: 80px;
}
.blackBloc.block2{
    margin-top: 145%;
    height: 80px;
}

.camera-controls .btn.Close span {
    background: center/contain no-repeat url(~"/images/close.png");
    width: 26px;
    height: 26px;
    margin: 11px;
    margin-top: calc(~"5px +" ~'@{safe-area-inset-top}');
    float: left;
}
.camera-controls .btn.ReverseAndPower span {
    background: center/contain no-repeat url(~"/images/ReverseAndPowerCameraIcons.png");
    background-size: 80px 30px;
    width: 80px;
    height: 30px;
    margin: 11px;
    margin-top: calc(~"5px +" ~'@{safe-area-inset-top}');
    float: right;
}
.camera-controls .btn span {
    background-size: contain;
    display: block;
}
.camera-controls .btn.OvalTakePhoto span {
    position: absolute;
    bottom: calc(~"0.5rem +" ~'@{safe-area-inset-bottom}');
    left: 0;
    right: 0;
    background: center/contain no-repeat url(~"/images/OvalTakePhoto.png");
    margin: auto;
    width: 63px;
    height: 63px;
}
.camera-controls-text{
    display: none; /// Do we need this?
    color: white;
    float: right;
}
.camera-controls-text span{
    margin-left: 2px;
    padding-left: 7px;
    display: inline-block;
}

.camera-controls .btn.AnnotationControls span {
    background: center/contain no-repeat url(~"/images/right_annotation_icons.png");
    width: 165px;
    height: 40px;
    margin: calc(~"5px +" ~'@{safe-area-inset-bottom}') 7px 3px 3px;
    float: right;
}
.camera-controls .btn.CameraIcon span {
    background: center/contain no-repeat url(~"/images/camera_icon_annotation.png");
    background-size: 40px 35px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.camera-controls .btn.DoneIcon .doneSpan {
    background: @icon-fill;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    float: right;
    color: @white;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    line-height: 2.8rem;
    fill: @white;
    margin-right: 20px;
    span{
        width: 1.2rem;
        display: inline-block;
    }
    svg{
        top: 5px;
        right: -15px;
        position: relative;
    }
}

.doneSpan2 {
    color: white;
    font-size: 26px;
    text-align: left;
    line-height: 2.8rem;
}


button{
    background: gray;
    color:#333;
    border-radius: 3px;
    border:1px solid #ccc;
    margin:.25rem;
    width: 30%;
    height: 30%;
    background: url(~"/images/OvalTakePhoto.png") no-repeat;
}

/* camera modal */
.camera-color-modal{
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
    /* background-color: rgba(0,0,0, 0.5); */
}
.camera-color-modal-inner{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 10%;
    height: 265px;
    top: 48px;
    right: 5px;
}
.camera-color-modal-inner > .btn{
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 0 1pt white;
    outline-width: 2px;
    outline-color: white;
}
.camera-color-modal-inner > .active{
    width: 17px;
    height: 17px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0 0 0 3pt black;
    outline-width: 3px;
    outline-color: black;
}

.RedSelector{
    background-color: #CF021A;
}
.GreenSelector{
    background-color: #0DAC37;
}
.BlueSelector{
    background-color: #1E5EFE;
}
.YellowSelector{
    background-color: #FFF600;
}
.WhiteSelector{
    background-color: @white;
}
.BlackSelector{
    background-color: @black;
}

//ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .block2{
        margin-top: 100%;
    }
}