.chat-sub-nav {
    position: fixed;
    display: flex;
    text-align: center;
    width: 100%;
    background: @white;
    z-index: 1;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: @black;
        opacity: 0.1;
        content: "";
        bottom: 0;
    }

    li {
        padding: 1rem 0;
        flex: 1;
        font-size: 15px;

        a {
            color: @icon-fill;
        }

        &::before {
            display: none;
            position: absolute;
            height: 4px;
            width: 50%;
            background: @icon-fill;
            content: "";
            bottom: 0;
        }

        &.recent.selected::before{
            display: block;
            left: 0;
        }

        &.contacts.selected::before {
            display: block;
            right: 0;
        }
    }
}

.chat-content {
    margin-top: 3rem;
}

.chat-container {
    padding: 1rem 0;
    position: relative;
    display: flex;
    width: 95%;
    margin: auto;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: @black;
        opacity: 0.1;
        content: "";
        bottom: 0;
    }
  
    ul {
        flex: 1;
    }
  
    .avatar-container {
        margin-right: 0.5rem;
    }

    .message-info {
        color: @font-grey;
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            color: @black;
            margin-bottom: 0.2rem;
        }

        .urgent {
            color: @alert-red;
            font-size: 17px;
        }

        .normal {
          color: @font-grey;
          font-size: 17px;
        }

        .time {
            color: @font-grey;
            font-size: 12px;
        }

        .message {
            font-size: 15px;
            color: @font-grey;
        }

        img {
            &.urgent {
                display: inline;
            }

            &.normal {
                display: none;
            }
        }
    }

    .avatar-container {
      align-items: center;
      display: flex;

      .unread {
          visibility: visible;
          margin-right: 0.5rem;
      }

      .read {
          visibility: hidden;
      }
    }
}