.chat-sub-nav {
    position: fixed;
    display: flex;
    text-align: center;
    width: 100%;
    background: @iphone-bg-grey;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        height: 0.2rem;
        width: 50%;
        bottom: 0;
        background: @icon-fill;
    }

    &::after {
        position: absolute;
        height: 0.1rem;
        width: 100%;
        background: @font-grey;
        content: "";
        opacity: 0.1;
        bottom: 0;
    }

    li {
        padding: 1rem 0;
        flex: 1;
        font-size: 15px;

        a {
            color: @icon-fill;
        }
    }
    .recent{
        font-weight: 500;
    }
}

.page-content.chat {
    padding-top: 3rem;
}

.chat-content {
    margin-top: 3rem;
}

.chat-container {
    padding: 1rem 0;
    position: relative;
    display: flex;
    width: 95%;
    margin: auto;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: @black;
        opacity: 0.1;
        content: "";
        bottom: 0;
    }
  
    ul {
        flex: 1;
    }
  
    .avatar-container {
        margin-right: 0.5rem;
    }

    .message-info {
        color: @font-grey;
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            color: @black;
            margin-bottom: 0.2rem;
        }

        .urgent {
            color: @alert-red;
            font-size: 17px;
        }

        .normal {
          color: @font-grey;
          font-size: 17px;
        }

        .time {
            color: @font-grey;
            font-size: 12px;
        }

        .message {
            font-size: 15px;
            color: @font-grey;
        }

        img {
            &.urgent {
                display: inline;
            }

            &.normal {
                display: none;
            }
        }
    }

    .avatar-container {
        align-items: center;
        display: flex;

        .unread {
            margin-right: 0.5rem;
        }

        .read {
            margin-right: 0.5rem;
            visibility: hidden;
        }

        .no-unread {
            display: none;
        }
    }
}