.idt-sub-nav {
    position: relative;
    display: flex;
    text-align: center;
    background: @iphone-bg-grey;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
        content: "";
        bottom: 0;
    }

    li {
        padding: 1rem 0;
        flex: 1;
        font-size: 15px;

        a {
            color: @icon-fill;
        }

        &::before {
            display: none;
            position: absolute;
            height: 4px;
            width: 33%;
            background: @icon-fill;
            content: "";
            bottom: 0;
        }

        &.chat.selected::before{
            display: block;
            left: 0;
        }

        &.files.selected::before {
            display: block;
            right: 33%;
        }

        &.more.selected::before {
            display: block;
            right: 0;
        }
    }
}

.idt-container {
    padding: 1rem 0;
    position: relative;
    display: flex;
    width: 96%;
    margin: 0 0 0 16px;

    &::after {
      position: absolute;
      height: 1px;
      width: 100%;
      box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
      content: "";
      bottom: 0;
    }
  
    ul {
        margin-top: 6px;
        flex: 1;
    }
  
    .idt-patient-container {
        margin-right: 0.5rem;
        
        img{
            width: 44px;
        }
    }

    .message-info {
        color: @font-grey;
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            color: @black;
            margin-bottom: 0.2rem;
        }

        .normal {
          color: @font-grey;
          font-size: 17px;
        }

        .message {
            font-size: 15px;
            color: @font-grey;
        }
    }

    .idt-patient-container {
      align-items: center;
      display: flex;
    }

    .idt-patient-arrow{
        align-items: center;
        display: flex;
        margin-right: 17px;
        img{
            width: 12px;
        }
    } 
}


.idt-list div.message-icon{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-size:contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding: 6px 5px;
}

.idt-list {
    background: @white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    width: 100%;
    overflow: scroll;
    height: 93%;
}
.idt-list-header{
    font-size: 12px;
    color: #5C5B5B;
    border-top: 1px solid rgba(0,0,0,0.20);
    border-bottom: 1px solid rgba(0,0,0,0.20);
    display: flex;
}
.idt-list-header div{
    margin: 10px;
}
.idt-list-header-name{
    flex-grow: 1;
    max-width: 170px;
}
.idt-list-header-location{
    flex-grow: 1;
    max-width: 183px;
}
.idt-list-header-room{
    flex-grow: 1;
    max-width: 40px;
}

.idt {
    background: @white;
    margin-left: 10px;
    padding: 16px 16px 16px 6px;
    display: flex;
    border-bottom: 1px solid @iphone-bg-alert;
}
.idt-body{
    padding: 6px 5px;
    flex-grow: 1;
}
.idt-body span{
    float: right;
}
.idt-add-new{
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}
.idt-add-new-svg{
    margin-left: 9px;
}
.idt-add-new-text{
    margin-left: 23px;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    color: @icon-fill;
}
.patient{
    display:flex;
    padding: 14px 14px 14px 0px;
    margin: 0 0 0 15px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}

.idt-patient-list{
    overflow-y: scroll;
}
.idt-patient-list-add-new{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: @icon-fill;
    padding: 16px;
}
.idt-patient-list-header{
    padding: 22px 14px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    background-color: @iphone-bg-grey;
    
    .left-text{
        color: @icon-fill;
        font-size: 17px;
    }
    .down-caret{
        position: relative;
        left: 10px;
        width: 22px;
    }
    .right-text{
        position: relative;
        left: 85px;
    }
    .down-arrow{
        position: relative;
        left: 90px;
        width: 22px;
    }
    .info-icon{
        position: relative;
        left: 115px;
        width: 22px;
    }

    .patient-list-icon{
        position: relative;
        left: 0px;
        width: 22px;

    }
    .patient-list-text{
        color: @icon-fill;
        padding-left: 25px;
        font-size: 15px;
    }
    .patient-list-arrow-left{
        position: relative;
        left: 155px;
        width: 22px;
    }
    .patient-list-arrow-right{
        position: relative;
        left: 180px;
        width: 22px;
    }
}
.idt-patient-list-name{
    font-size: 22px;
    padding: 18px;
    background-color: @iphone-bg-grey;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}
.idt-patient-list-clicker{
    font-size: 12px;
    color: @icon-not-selected;
    background-color: @iphone-bg-grey;
    padding: 16px 12px 12px 12px;
}
.remove-patient-tab{
    background-color: @iphone-bg-grey;
    height: 44px;
    .remove-patient-tab-inner{
        border-radius: 5px;
        background-color: @white;
        color: @alert-red;
        font-size: 12px;
        padding: 10px;
        top: 4px;
        left: 4px;
        width: 93%;
        position: relative;
    }
}
.idt-patient-list .meeting .time-container ul{
    border-left: 1px solid rgba(0,0,0,0.20);
    margin: 1rem 0;
    padding: 0;
}


.demographic-item{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    background-color: @white;
    div{
        &:first-of-type {
            color: @icon-not-selected;
            min-width: 100px;
        }
        flex-grow: 1;
        padding: 16px;
        &:last-of-type {
            text-align: right;
            max-width: 205px;
        }
    }
}



//files
.idt-files {
    padding: 1rem 0;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0px;

    &::after {
      position: absolute;
      height: 1px;
      width: 100%;
      box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
      content: "";
      bottom: 0;
    }
  
    ul {
        margin-top: 0px;
        flex: 1;
    }
  
    .idt-files-container {
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 8px;
        
        img{
            width: 23px;
        }
    }

    .message-info {
        color: @font-grey;
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            color: @black;
            margin-bottom: 0.2rem;
        }

        .normal {
          color: @font-grey;
          font-size: 17px;
        }

        .message {
            font-size: 15px;
            color: @font-grey;
        }
    }
}



.idt-chat{
    position: fixed;
    height: 100%;
    background: @iphone-bg-grey;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

    header {
        padding-top: 2rem;
        position: relative;

        .person {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            color: @icon-fill;
            width: 50%;
            margin: auto;
        }
        .icon-container {
            width: 95%;
            margin: 0 auto;
            list-style: none;
            display: flex;
            align-items: center;

            .follow-icon {
                margin-left: auto;
                padding-right: 1rem
            }

            .back-arrow {
                display: block;
                width: 4rem;
                height: 2rem;

                a {
                    display: block;
                }
            }
        }
    }
    .idt-chat-container {
        padding: 1rem 1rem;
        position: relative;
        width: 100%;
        margin: auto;
        background-color: @white;
        &::after {
            position: absolute;
            height: 1px;
            width: 100%;
            background: @black;
            opacity: 0.1;
            content: "";
            bottom: 0;
        }
        ul {
            flex: 1;
        }
    
        .message-info {
            color: @font-grey;
            display: flex;
            justify-content: space-between; 
            &:first-of-type {
                color: @black;
                margin-bottom: 0.2rem;
            }  
            .time {
                color: @font-grey;
                font-size: 12px;
            }
            .message {
                font-size: 15px;
                color: @font-grey;
            }
        }
    
        .idt-avatar-container {
          align-items: center;
          display: flex;
    
          img{
              width: 44px;
              margin-right: 0.5rem;
          }
          .chat-header-date{
            color: @font-grey;
            font-size: 12px;
          }
        }
    }
    .reply-box{
        font-size: 12px;
        color: @icon-fill;
        background-color: @iphone-bg-grey;
        
        .replies{
            padding: 1rem;
        }
        .reply-tab{
            padding: 1rem;
        }
    }
    
}


// .idt-avatar-container img{
//     width: 44px;
// }