.idt-sub-nav {
    position: relative;
    display: flex;
    text-align: center;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
        content: "";
        bottom: 0;
    }

    li {
        padding: 1rem 0;
        flex: 1;
        font-size: 15px;

        a {
            color: @icon-fill;
        }

        &::before {
            display: none;
            position: absolute;
            height: 4px;
            width: 33%;
            background: @icon-fill;
            content: "";
            bottom: 0;
        }

        &.chat.selected::before{
            display: block;
            left: 0;
        }

        &.files.selected::before {
            display: block;
            right: 0;
        }

        &.more.selected::before {
            display: block;
            right: 0;
        }
    }
}

.idt-container {
    padding: 1rem 0;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0px;

    &::after {
      position: absolute;
      height: 1px;
      width: 100%;
      box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
      content: "";
      bottom: 0;
    }
  
    ul {
        margin-top: 6px;
        flex: 1;
    }
  
    .idt-patient-container {
        margin-right: 0.5rem;
        margin-left: 16px;
        
        img{
            width: 44px;
        }
    }

    .message-info {
        color: @font-grey;
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            color: @black;
            margin-bottom: 0.2rem;
        }

        .normal {
          color: @font-grey;
          font-size: 17px;
        }

        .message {
            font-size: 15px;
            color: @font-grey;
        }
    }

    .idt-patient-container {
      align-items: center;
      display: flex;
    }
}


.idt-list div.message-icon{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-size:contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding: 6px 5px;
}

.idt-list {
    background: @white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    width: 100%;
    overflow: scroll;
    height: 93%;
}
.idt-list-header{
    font-size: 12px;
    color: #5C5B5B;
    border-top: 1px solid rgba(0,0,0,0.20);
    border-bottom: 1px solid rgba(0,0,0,0.20);
    display: flex;
}
.idt-list-header div{
    margin: 10px;
}
.idt-list-header-name, .idt-list-header-location{
    flex-grow: 1;
}
.idt {
    background: @white;
    margin-left: 10px;
    padding: 16px 16px 16px 6px;
    display: flex;
    border-bottom: 1px solid @iphone-bg-alert;
}
.idt-body{
    padding: 6px 5px;
    flex-grow: 1;
}
.idt-body span{
    float: right;
}
.idt-add-new{
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    color: @icon-fill;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}
.patient{
    display:flex;
    padding: 14px;
    margin: 0px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}

.idt-patient-list-add-new{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: @icon-fill;
    padding: 16px;
}
.idt-patient-list-header{
    padding: 16px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}






.demographic-item{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    div{
        &:first-of-type {
            color: @icon-not-selected;
        }
        flex-grow: 1;
        padding: 16px;
        &:last-of-type {
            text-align: right;
        }
    }
}