@import "datepicker.less";

.meetings-link {
    position: absolute;
    z-index: 1;
    top: -2.4rem;
    right: 0.5rem;
}

.team-weekdays {
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: @white;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: @black;
        opacity: 0.1;
        content: "";
    }

    &::after {
        bottom: 0;
    }

    span {
        font-size: 13px;
        color: @icon-not-selected;
        display: inline-block;
        width: 2.5rem;
        line-height: 2rem;
        text-align: center;
    }
}

.meeting {
    background: @iphone-bg-grey;

    > ul {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;

        li {
            color: @font-grey;
            font-size: .7rem;
        }
    }

    button {
        &.going {
            border: none;
            padding: 0 1rem;
            background: @icon-fill;
            font-size: 0.9rem;
            border-radius: 4px;
            color: @white;
            text-align: center;
            height: 2rem;
            width: 20%;
        }
    }

    .meeting-time {
        background: @white;
    }

    .time-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        align-items: center;

        &::after {
            position: absolute;
            height: 1px;
            width: 100%;
            background: @black;
            opacity: 0.1;
            content: "";
            bottom: 0;
        }

        ul {
            padding: 1rem 0;
            &.tentative {
              background: url(~"/images/tentative.png") no-repeat left;
            }

            &.going {
              background: url(~"/images/going.png") no-repeat left;
            }

            &.busy {
              background: url(~"/images/busy.png") no-repeat left;
            }
        }

        li {
            padding-left: 1rem;
        }

        .name {
            color: @black;
            font-size: 1.1rem;

        }

        .time {
            color: @font-grey;
            font-size:0.9rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }

        .room {
          color: @font-grey;
          font-size:0.7rem;
        }

        .going {
            display: inline;
        }

        .not-going {
            display: none;
        }
    }
}

