.single-chat{
    position: fixed;
    height: 100%;
    background: @iphone-bg-grey;
    width: 100%;
    top: 0;
    z-index: 1;

    header {
        padding-top: 2rem;
        position: relative;

        .person {
             position: absolute;
             text-align: center;
             left: 0;
             right: 0;
             color: @icon-fill;
             width: 50%;
             margin: auto;
        }
        .icon-container {
            width: 95%;
            margin: 0 auto;
            list-style: none;
            display: flex;
            align-items: center;

            .camera-icon {
                margin-left: auto;
                padding-right: 1rem
            }

            .phone-icon {
                flex: 0;
                margin-left: 0;
            }

            .back-arrow {
                display: block;
                width: 4rem;
                height: 2rem;

                a {
                    display: block;
                }
            }
        }
   }

    .input-message {
        form {
            position: fixed;
            bottom: 4rem;
            width: 100%;

            textarea {
                overflow-y: auto;
                resize: none;
                box-shadow: none;
                width: 90%;
                margin: auto;
                display: block;
                border: 1px solid #DFDEDE;
                border-radius: 4px;
                height: 1rem;
                max-height: 2rem;
                padding: 1rem 0.5rem;

                &::placeholder {
                   line-height: 16px;
                }
            }
        }
    }

    .message-received {
        overflow-y: scroll;
        position: fixed;
        padding: 1rem 0;
        max-height: 60%;

        .message {
            display: flex;
            align-items: start;
            width: 95%;
            margin: auto;

            ul {
                border: 1px solid @input-border;
                border-radius: 4px;
                margin-right: 0.5rem;

                li {
                    padding: 0 0.5rem;
                    margin: 0.3rem 0;
                }

                .name {
                    font-size: 13px;
                    color: @font-grey;
                }

                .priority {
                    font-size: 12px;
                    color: @font-grey;
                }

                .content {
                    font-size: 17px;
                    color: @black;
                }
            }

            .profile-pic {
                margin-right: 0.5rem;
            }

            .urgent {
                background: url(~"/images/message-urgent-bg.png") no-repeat left;
                background-color: @white;
            }
        }

        .response {
            position: relative;
            background: @icon-fill;
            color: @white;
            border: 1px solid @icon-fill;
            border-radius: 4px;
            margin: 1rem 2rem 1rem auto;
            width: 65%;
            padding: 0.5rem;

            &::after {
                content: "";
                background: url(~"/images/message-read.png") no-repeat;
                height: 1rem;
                width: 1rem;
                position: absolute;
                bottom: -.2rem;
                right: -1.5rem;
            }
        }
    }

    footer {
        padding: 0.5rem 0;
        width: 100%;
        position: fixed;
        bottom: 0;

        .footer-icons {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: auto;

            li {
                margin-right: 2rem;
            }

            li:last-child {
                margin-left: auto;
                margin-right: 0;
            }

            .send .send-icon {
                fill: @icon-fill;
            }
        }
    }
}