.single-chat {
    position: fixed;
    height: 100%;
    background: @iphone-bg-grey;
    width: 100%;
    top: 0;
    visibility: hidden;
    right: -100%;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &.open {
        transition-property: visibility, right;
        transition-duration: 0.5s, 0.5s;
        right: 0;
        visibility: visible;
        overflow: hidden;
    }

    &.urgent-open {
        max-height: 75%;
    }

    &.compose {
        .input-message,
        .to-message {
            form {
                display: flex;
                align-items: center;
                padding-left: @spacingHalf;
            }

            &.open {
                flex: 1;
            }
        }

        .to-message {
            form {
                background: @white;
            }

            textarea {
                color: @icon-fill;
                width: 100%;
                border: 0;
            }
        }

        .footer-2,
        .input-message {
            display: none;

            &.open {
                display: inherit;
                flex: none;
            }

            &.urgent form {
                padding-left: 0;
            }
        }

        .message-received {
            display: none;

            &.open {
                display: block;
            }
        }
    }

    .contact-list {
        position: relative;
        visibility: hidden;
        max-height: 0;
        transition-property: visibility, max-height;
        transition-duration: 0s, 0s;

        &::before {
            position: absolute;
            height: 0.1rem;
            width: 100%;
            background: @font-grey;
            content: "";
            opacity: 0.1;
            top: 0;
        }

        &.open {
            overflow: hidden;
            transition-delay: 0.75s;
            transition-property: visibility, max-height;
            transition-duration: 1.5s, 1.5s;
            visibility: visible;
            max-height: 200px;
            display: block;
            flex: 1;

            h3 {
                color: @font-grey;
                font-size: 0.8rem;
                padding: @spacingHalf 0;
                margin-left: @spacingHalf;
            }

            ul {
                background: @white;
                position: relative;

                li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    text-indent: @spacingHalf;
                    padding: @spacing 0;

                    img {
                        padding: 0 @spacingHalf;
                    }

                    &::before {
                        left: 0;
                        right: 0;
                        position: absolute;
                        height: 0.1rem;
                        width: 100%;
                        background: @font-grey;
                        content: "";
                        opacity: 0.1;
                        top: 0;
                    }

                    &::after {
                        left: 0;
                        right: 0;
                        position: absolute;
                        height: 0.1rem;
                        width: 100%;
                        background: @font-grey;
                        content: "";
                        opacity: 0.1;
                        bottom: 0;
                    }
                }
            }
        }
    }

    header {
        padding: @spacingDouble 0;
        position: relative;

        .person {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            color: @icon-fill;
            width: 50%;
            margin: auto;

            &.new-chat {
                color: @black;
            }

            &.selected {
                color: @icon-fill;
            }
        }
        .icon-container {
            width: 93%;
            margin: 0 auto;
            list-style: none;
            display: flex;
            align-items: center;

            .camera-icon {
                margin-left: auto;
                padding-right: 1.4rem;
                height: 1.6rem;
            }

            .phone-icon {
                flex: 0;
                margin-left: 0;
                height: @spacingDouble;
            }

            .back-arrow {
                display: block;
                width: 4rem;
                height: @spacingDouble;

                a {
                    display: block;
                }
            }
        }
    }

    #send-message:focus::-webkit-input-placeholder { color:transparent; }

    .input-message,
    .to-message {
        flex: 0;

        span {
            display: none;
        }

        form {
            width: 100%;

            textarea {
                overflow-y: auto;
                resize: none;
                box-shadow: none;
                -webkit-appearance: none;
                width: 90%;
                margin: auto;
                display: block;
                border: 1px solid @input-border;
                border-radius: 4px;
                height: @spacing;
                max-height: 5rem;
                padding: @spacing @spacingHalf;

                &::placeholder {
                    line-height: 16px;
                }
            }

            .image-send-message{
                padding: 0;
                max-height: 210px;
                height: 210px;
                background-size: 150px 200px;
                background-position: 5% 5%;
            }
        }

        &.urgent {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            flex: inherit;
            background: @alert-red;
            width: 95%;
            margin: 0 auto;
            justify-content: flex-end;
            min-height: 7rem;

            span:first-of-type {
                order:2;
                background: @white;
                width:98.8%;
                font-size: 13px;
                padding-top: @spacing;
                text-indent: 0.6rem;
                display: block;
                color: @alert-red;
                margin-left: auto;
                font-weight: 500;
                border-right: 1px solid @light-gray-border;
                // textarea{
                //     border: none;
                // }
            }

            span:last-of-type {
                font-weight: 500;
                font-size: 13px;
                display: block;
                color: @white;
                padding: @spacingHalf 0;
                text-indent: @spacing;
            }

            form {
                width: 98.8%;
                order: 3;
                margin-left: auto;
                background-color: white;
                border-right: 1px solid @light-gray-border;
                border-bottom: 1px solid @light-gray-border;
                // border-radius: 0px 0px 5px 0px;

                textarea {
                    border: 1px solid transparent;
                    border-radius: 0;
                    width: 95%;
                }
            }
        }
    }

    .message-received {
        overflow-y: scroll;
        margin: auto 0 @spacing 0;

        .message {
            display: flex;
            align-items: start;
            width: 95%;
            margin: 0 auto;

            ul {
                // border: 1px solid @input-border;
                background-color: @white;
                border-radius: 4px;
                margin-right: @spacingHalf;

                li {
                    padding: 0 0.6rem;
                    margin: 0.3rem 0;
                }
                // li:first-of-type{
                //     padding: 0.2rem 0.6rem;
                // }

                .name {
                    font-size: 13px;
                    color: @font-grey;
                    margin-top: @spacingHalf;
                    margin-bottom: 0.1rem;
                }

                .priority {
                    font-size: 12px;
                    font-weight: 500;
                    color: @alert-red;
                    margin: 0;
                }

                .content {
                    font-size: 17px;
                    color: @black;
                    margin-top: 0.1rem;
                    margin-bottom: @spacingHalf;
                }
            }

            .profile-pic {
                margin-right: @spacingHalf;
            }

            .urgent {
                background: url(~"/images/message-urgent-bg.png") no-repeat left;
                background-color: @white;
            }
        }

        .response {
            position: relative;
            background: @icon-fill;
            color: @white;
            border: 1px solid @icon-fill;
            border-radius: 4px;
            margin: @spacing @spacingDouble 0 auto;
            width: 65%;
            padding: @spacingHalf;
            font-size: 17px;

            &.urgent{
                width: 77%;
            }

            &.urgent::before {
                content: "";
                background: url(~"/icon/urgent.svg") no-repeat;
                height: @spacing;
                width: @spacing;
                position: absolute;
                left: -1.5rem;
                top: 0;
            }

            &::after {
                content: "";
                background: url(~"/icon/read.svg") no-repeat;
                height: @spacing;
                width: @spacing;
                position: absolute;
                bottom: -0.2rem;
                right: -1.5rem;
            }
        }
        .response-image {
            border-radius: 4px;
            margin: @spacing @spacing @spacing auto;
            max-width: 40%;
            min-height: 250px;
            max-height: 250px;
            padding: @spacingHalf @spacingHalf 0.1rem @spacingHalf;
        }
    }

    footer {
        padding: @spacing 0;
        width: 100%;


        .footer-icons {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: auto;

            li {
                margin-right: @spacingDouble;
            }

            li:last-child {
                margin-left: auto;
                margin-right: 0;
            }

            .send-gray svg{
                fill: @icon-not-selected;
            }
            .send-fill svg {
                fill: @icon-fill;
            }
            #send{
                width: 20px;
            }
        }
    }
}

.ReactModal__Overlay--after-open {
    z-index: 1;
}

.urgent-modal {
    background: @white;
    position: absolute;
    bottom: 0;
    padding-bottom: @spacing;
    min-height: 9rem;
    width: 100%;
    margin: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

    h2 {
        text-align: center;
        color: @icon-not-selected;
        padding: @spacingHalf 0;
        font-size: 13px;
    }

    .priority-modal-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;

        .priority {
            position: relative;
            text-indent: 1.5rem;
            padding-bottom: @spacing;
            margin-bottom: @spacing;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                color: @font-black;
                font-size: 17px;
                margin-bottom: 0.2rem;
            }

            &.important {
                background: url(~"/icon/important.svg") no-repeat 1% 31%;
                // fill: black;
                &::after {
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: @black;
                    opacity: 0.1;
                    content: "";
                    bottom: 0;
                }
            }

            &.urgent {
                background: url(~"/icon/urgent.svg") no-repeat 0 31%;
                margin-bottom: @spacingHalf;
            }

            .priority-content {
                color: @icon-not-selected;
                font-size: 13px;
                padding: 0 1.5rem;
                text-indent: 0;
            }
        }
    }
}

/// iPhone specific
@supports(padding-top: max(0px)) {
    .single-chat header {
        padding-top: @iphone-notch-clear-top;
    }
    .urgent-modal {
        padding-bottom: @safe-area-inset-bottom;
    }
}