.teams-link {
    position: absolute;
    z-index: 1;
    top: -2.4rem;
    right: @spacingHalf;
}

.teams-content {
    width: 95%;
    margin: 1rem auto;
    position: relative;
    
    .team-menu {
        display: none;
    }

    .team-info {    
        display: flex;
        align-items: center;
        font-size: 17px;

        .team {
            padding-left: 1rem;
            margin-right: 1rem;

            img {
                width: 32px;
                border: 1px solid @light-gray-border;
                border-radius: 7px;
            }
        }

        .team-menu {
            margin-left: auto;
        }
    }

    .team-links {
        transition-property: visibility, max-height;
        transition-duration: 1s, 1s;
        visibility: visible;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-left: 5rem;
        
        .team-link {
            margin: 1rem 0;
            color: @font-black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
        }

        .teams-text.purple{
            color: @icon-fill;
        }

        .teams-alert {
            &.yes {
                display: flex;
                align-items: center;
            }

            &.no {
                display: none;
            }

            span:last-child {
                margin-left: @spacingHalf;
            }
        }
    }

    .arrow {
        transition-property: transform;
        transition-duration: 0.3s;
        transform: rotate(0deg);
    }

    &.closed {

        .team-menu {
            display: inherit;
        }

        .team-links {
            visibility: hidden;
            max-height: 0;
            transition-property: visibility, max-height;
            transition-duration: 0.4s, 0.4s;
        }

        .arrow {
            transition-property: transform;
            transition-duration: 0.3s;
            transform: rotate(-90deg);
        }
    }
}