.teams-link {
    position: absolute;
    z-index: 1;
    top: -2.4rem;
    right: 0.5rem;
}

.teams-content {
    padding-top: 1rem;
    width: 95%;
    margin: auto;
    position: relative;

    &::after {
        position: absolute;
        height: 1px;
        width: 100%;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.20);
        content: "";
        bottom: 0;
    }

    .team-info {
        display: flex;
        align-items: center;

        .team {
            padding-left: 1rem;
            margin-right: 1rem;
        }

        .team-menu {
            margin-left: auto;
        }
    }

    &.open {
        .team-links {
            display: flex;
            flex-direction: column;
            margin-left: 5rem;

            .team-link {
                margin: 1rem 0;
                color: @font-black;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .teams-text.purple{
                color: @icon-fill;
            }

            .teams-alert {
                &.yes {
                    display: flex;
                    align-items: center;
                }

                &.no {
                    display: none;
                }

                span:last-child {
                    margin-left: 0.5rem;
                }
            }
        }
    }

    &.closed {

        .team-info {
            padding-bottom: 0.5rem;
        }

        .team-links {
            display: none;
        }

        .arrow {
            transform: rotate(-90deg);
        }
    }
}